{
  "presets": [
    [
      "@babel/preset-env", 
      {
        // "modules": "cjs",
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
        // "corejs":3,
        // "useBuiltIns": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs":3
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ]
}