.nav-board{
    width: 150px;
    background: #ffffff;
    li{
        display: flex;
        align-items: center;
        height: 40px;
        border-bottom: 1px solid #333333;
        cursor: pointer;
        b{
            width: 22px;
            height: 22px;
            background-repeat: no-repeat;
            margin: 0 10px;
        }
        &.on{
            color: red;
        }
        &:nth-child(1){
            b{
                background-image: url(../../images/sprite/nav/1.png);
            }
            
        }
        &:nth-child(2){
            b{
                background-image: url(../../images/sprite/nav/3.png);
            }
           
        }
    }
}